@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
.serviceHead {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    text-align: center;
}

.serviceHead h2 {
    font-family: "Great Vibes", cursive;
    font-weight: 400;
    font-style: normal;
    display: block;
    font-size: 100px;
    line-height: 100px;
    color: rgb(200, 169, 126);
    text-size-adjust: 100%;
    z-index: -1;
    margin: 20px 0 0;
    padding: 0;
    position: relative;
    top: 50px;
}

.serviceHead h3 {
    margin: 0;
    padding: 0;
    color: rgb(51, 51, 51);
    display: block;
    font-size: 50px;
    font-weight: 900;
    line-height: 60px;
    text-size-adjust: 100%;

}